@{
    ViewBag.Title = "Dashboard";
}
@section styles{
    <style>
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px !important;
        }

        .select2-container--default .select2-selection--single {
            height: 38px !important;
        }

        .error {
            color: #dc3545 !important;
        }

        .projects td {
            vertical-align: top;
        }

        .select2-selection__choice, .select2-selection__choice__remove {
            background-color: #0069d9 !important;
            border-color: #0062cc !important;
            color: #fff !important;
        }

        .small-box{
            height:120px;
        }
    </style>
}
<div class="modal fade" id="ADMDefault">
    <div class="modal-dialog modal-lg">
        <form role="form" id="ADM_ApplicationForm" method="post" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New ADM</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ADMIDP" name="ADMIDP" value="0" />
                <input type="hidden" id="OldFileName" name="OldFileName" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ADM_TicketID" class="control-label">Ticket No</label>
                            <input type="text" class="form-control mygroup" id="ADM_TicketID" name="ADM_TicketID">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="ADM_IATANumber" class="control-label">IATA No</label>
                            <input type="text" class="form-control mygroup" id="ADM_IATANumber" name="ADM_IATANumber">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label><br />
                            <button id="ADM_DetailButton" type="button" onclick="FetchTicketDetail()" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_OfficeID" class="control-label">Office ID<span class="text-danger" id="OfficeIDTextDanger" style="display:none">*</span></label>
                            <input type="text" class="form-control" id="ADM_OfficeID" name="ADM_OfficeID" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_BranchID" class="control-label">Branch</label>
                            <input type="text" class="form-control" id="ADM_BranchID" name="ADM_BranchID" disabled>
                        </div>
                    </div>
                    <div class="col-md-3" style="display:none">
                        <div class="form-group">
                            <label for="ADM_TicketIssueBranchID" class="control-label">Ticket Issued Branch</label>
                            <input type="text" class="form-control" id="ADM_TicketIssueBranchID" name="ADM_TicketIssueBranchID" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_TicketAmount" class="control-label">Ticket Amount<span class="text-danger" id="TicketAmountTextDanger" style="display:none">*</span></label>
                            <input type="text" class="form-control" id="ADM_TicketAmount" name="ADM_TicketAmount" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_ADMNumber" class="control-label">ADM No<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="ADM_ADMNumber" name="ADM_ADMNumber">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_ADMAmount" class="control-label">ADM Amount<span class="text-danger">*</span></label>
                            <input type="text" class="form-control numeric" id="ADM_ADMAmount" name="ADM_ADMAmount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ADM_IATAADMDate" class="control-label">IATA ADM Date<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="ADM_IATAADMDate" name="ADM_IATAADMDate" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ADM_ReasonIDF" class="control-label">Reason<span class="text-danger">*</span></label>
                            <select class="form-control select2" style="width: 100%;" id="ADM_ReasonIDF" name="ADM_ReasonIDF">
                                <option value="0" selected>Select Reason</option>
                                @{
                                    if (ViewBag.ReasonList != null)
                                    {
                                        foreach (SQLClass.ReasonMasterClass rm in ViewBag.ReasonList)
                                        {
                                            <option value="@rm.ReasonIDP">@rm.ReasonName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ADMFile" class="control-label">
                                Upload File
                                <span class="text-sm text-danger" id="AlreadyUploadedFileName"></span>
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ADMFile" name="ADMFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ADM_Remarks" class="control-label">Remarks<span class="text-danger">*</span></label>
                            <textarea class="form-control" id="ADM_Remarks" name="ADM_Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onclick="ADM_Save()" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="Default">
    <div class="modal-dialog modal-lg">
        <form role="form" id="ApplicationForm" method="post" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Follow Up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ADMIDF" name="ADMIDF" value="0" />
                <input type="hidden" id="OfficeID" name="OfficeID" value="" />
                <input type="hidden" id="BranchID" name="BranchID" value="" />
                <input type="hidden" id="ADMFollowUpIDP" name="ADMFollowUpIDP" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="TicketID" class="control-label">Ticket No</label>
                            <input type="text" class="form-control" id="TicketID" name="TicketID" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ADMNumber" class="control-label">ADM No</label>
                            <input type="text" class="form-control" id="ADMNumber" name="ADMNumber" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ReasonName" class="control-label">Reason</label>
                            <input type="text" class="form-control" id="ReasonName" name="ReasonName" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="RemarksAddByAudit" class="control-label">Remarks Add By Audit User/Manager<span class="text-danger">*</span></label>
                            <textarea class="form-control" id="RemarksAddByAudit" name="RemarksAddByAudit" disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Remarks" class="control-label">Remarks<span class="text-danger">*</span></label>
                            <textarea class="form-control" id="Remarks" name="Remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NextFollowUpDate" class="control-label">Next Follow Up Date</label>
                            <input type="text" class="form-control" id="NextFollowUpDate" name="NextFollowUpDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="StatusIDF" class="control-label">Status<span class="text-danger">*</span></label>
                            <select class="form-control select2" style="width: 100%;" id="StatusIDF" name="StatusIDF" onchange="DisplayDebitOption()">
                                <option value="0" selected>Select Status</option>
                                @{
                                    if (ViewBag.StatusList != null)
                                    {
                                        foreach (SQLClass.StatusMasterClass sm in ViewBag.StatusList)
                                        {
                                            <option value="@sm.StatusIDP">@sm.StatusName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <!-- DEBIT TO PART -->
                <div class="row" style="display:none" id="DebitToRiya">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DebitToRiyaType" class="control-label">Debit To<span class="text-danger">*</span></label>
                            <select class="form-control select2" style="width: 100%;" id="DebitToType" name="DebitToType" onchange="DisplayDebitToOption()">
                                <option value="1">Staff</option>
                                <option value="2">Riya</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" id="divDebitToRiya" style="display:none">
                        <div class="form-group">
                            <label for="DebitTo" class="control-label">Staff Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="DebitTo" name="DebitTo" value="Company Account" />
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none" id="DebitToSubAgent">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DebitToSubAgentName" class="control-label">Agent Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="DebitToSubAgentName" name="DebitToSubAgentName" />
                        </div>
                    </div>
                </div>
                <!-- ACM DISPLAY PART -->
                <div class="row" id="divFUACM" style="display:none">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FU_ADMAmount" class="control-label">ADM Amount</label>
                            <input type="text" class="form-control" id="FU_ADMAmount" name="FU_ADMAmount" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FU_ACMNo" class="control-label">ACM No<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="FU_ACMNo" name="FU_ACMNo" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FU_ACMAmount" class="control-label">ACM Amount<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="FU_ACMAmount" name="FU_ACMAmount" onkeyup="CalculateACMAmountFromFollowUp()" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FU_ACMAmountDiff" class="control-label">ACM Diff.</label>
                            <input type="text" class="form-control" id="FU_ACMAmountDiff" name="FU_ACMAmountDiff" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onclick="SaveFollowUp()" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="ACMReceivedDefault">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add ACM Received Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ACM_ADMIDF" name="ACM_ADMIDF" value="0" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ACM_ADMAmount" class="control-label">ADM Amount</label>
                            <input type="text" class="form-control numeric" id="ACM_ADMAmount" name="ACM_ADMAmount" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ACMNumber" class="control-label">ACM No</label>
                            <input type="text" class="form-control" id="ACMNumber" name="ACMNumber">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ACMAmount" class="control-label">ACM Amount</label>
                            <input type="text" class="form-control numeric" id="ACMAmount" name="ACMAmount" onkeyup="CalculateACMAmount()">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ACMAmount_Diff" class="control-label">Amount Diff.</label>
                            <input type="text" class="form-control numeric" id="ACMAmount_Diff" name="ACMAmount_Diff" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="select2" id="ACM_StatusIDF" data-placeholder="Select a Status" style="width: 100%;">
                                <option value="0">Select Status</option>
                                @{
                                    if (ViewBag.StatusList != null)
                                    {
                                        foreach (SQLClass.StatusMasterClass sm in ViewBag.StatusList)
                                        {
                                            if (sm.StatusIDP == 9 || sm.StatusIDP == 10)
                                            {
                                                <option value="@sm.StatusIDP">@sm.StatusName</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onclick="UpdateACMDetail()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <input type="hidden" id="SearchStatusIDF" name="SearchStatusIDF" value="0" />
    <input type="hidden" id="SortingID" name="SortingID" />
    <input type="hidden" id="SortingOrderBy" name="SortingOrderBy" />
    <div class="row" id="DashboardStatusCount">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Search</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="SearchTicketID" class="control-label">Ticket No</label>
                                        <input type="text" class="form-control" id="SearchTicketID" name="SearchTicketID">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="FromDate" class="control-label">From Date</label>
                                        <input type="text" class="form-control" id="FromDate" name="FromDate">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="ToDate" class="control-label">To Date</label>
                                        <input type="text" class="form-control" id="ToDate" name="ToDate">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Status</label>
                                    <select class="select2" id="SearchStatusIDF2" data-placeholder="Select Status" style="width: 100%;">
                                        <option value="0">Select Status</option>
                                        @{
                                            if (ViewBag.StatusList != null)
                                            {
                                                foreach (SQLClass.StatusMasterClass sm in ViewBag.StatusList)
                                                {
                                                    <option value="@sm.StatusIDP">@sm.StatusName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Status</label>
                                    <select class="select2" id="SearchReason" data-placeholder="Select Reason" style="width: 100%;">
                                        <option value="0">Select Status</option>
                                        @{
                                            if (ViewBag.ReasonList != null)
                                            {
                                                foreach (SQLClass.ReasonMasterClass sm in ViewBag.ReasonList)
                                                {
                                                    <option value="@sm.ReasonIDP">@sm.ReasonName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                @{
                                    if (GeneralClass.Role == "1" || GeneralClass.Role == "2")
                                    {
                                        <div class="col-md-6">
                                            <label>Branch</label>
                                            <select class="select2" id="SearchBranch" multiple="multiple" data-placeholder="Select Branch" style="width: 100%;">
                                                @{
                                                    if (ViewBag.BranchList != null)
                                                    {
                                                        foreach (SQLClass.UtilityClass sm in ViewBag.BranchList)
                                                        {
                                                            <option value="@sm.Branch">@sm.Branch</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    }
                                }
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="ADMNumber" class="control-label">&nbsp;</label><br />
                                        <button id="DetailButton" type="button" onclick="FilterTicketDetail(0)" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6" style="padding-top:10px;">
                            <h3 class="card-title">ADM Details</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            @if (GeneralClass.Role == "1" || GeneralClass.Role == "2") // Audit User and Manager
                            {
                                <button type="submit" onclick="AddNewADM()" class="btn btn-primary"><i class='fa fa-plus'></i>&nbsp;Add New ADM</button>
                            }
                            &nbsp;&nbsp;
                            <a href="/Home/ExportToExcel" class="btn btn-primary">
                                <span class="m-l-5"><i class="fa fa-plus"></i> Export to Excel</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped table-bordered table-condensed projects">
                        <thead>
                            <tr>
                                <th id="FocusID" onclick="Sorting('SrNo')">
                                    #
                                    <span class="fa fa-arrow-up" id="SortingSrNo"></span>
                                </th>
                                <th onclick="Sorting('TicketID')">
                                    Ticket No
                                    <span class="fa fa-arrow-up" id="SortingTicketID"></span>
                                </th>
                                @{
                                    if (GeneralClass.Role == "1" || GeneralClass.Role == "2") // Audit User and Manager
                                    {
                                        <th onclick="Sorting('BranchID')">
                                            Branch
                                            <span class="fa fa-arrow-up" id="SortingBranch"></span>
                                        </th>
                                    }
                                }
                                <th onclick="Sorting('ReasonName')">
                                    Reason
                                    <span class="fa fa-arrow-up" id="SortingReason"></span>
                                </th>
                                <th>ADM Detail</th>
                                <th>ACM Detail</th>
                                <th onclick="Sorting('LastFollowUpDate')">
                                    Last Follow Up Detail
                                    <span class="fa fa-arrow-up" id="SortingLastFollowUpDate"></span>
                                </th>
                                <th class="text-center" onclick="Sorting('StatusName')">
                                    Status
                                    <span class="fa fa-arrow-up" id="SortingStatusName"></span>
                                </th>
                                <th width="15%">Operation</th>
                            </tr>
                        </thead>
                        <tbody id="data">
                            <tr>
                                @{
                                    if (GeneralClass.Role == "1" || GeneralClass.Role == "2")
                                    {
                                        <td colspan="9" align="center"><div class="loader"></div></td>
                                    }
                                    else
                                    {
                                        <td colspan="8" align="center"><div class="loader"></div></td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="float: left;">
                                <label class="form-label" style="padding-top:5px">
                                    Showing <span id="FirstRecord"></span> to <span id="LastRecord"></span> of <span id="TotalRecords"></span>
                                </label>
                            </div>
                            <div style="float: right;text-align: right;">
                                <button id="LeftEnd" href="javascript:;" class="btn btn-secondary" onclick="GetData(10,1,'LE')"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>&nbsp;
                                <button id="Left" href="javascript:;" class="btn btn-secondary" onclick="GetData(10,1,'L')"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                                Page
                                <input type="text" name="text" id="NavigationValue" value="1" class="form-control" style="width:10%;display:inline-block" />&nbsp; of <span id="TotalPages"></span> &nbsp;
                                <button id="goBtn" href="javascript:;" class="btn btn-secondary" onclick="GetData(10,1,'C')">Go</button> &nbsp;
                                <button id="Right" href="javascript:;" class="btn btn-secondary" onclick="GetData(10,1,'R')"><i class="fa fa-angle-right" aria-hidden="true"></i></button>&nbsp;
                                <button id="RightEnd" href="javascript:;" class="btn btn-secondary" onclick="GetData(10,1,'RE')"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            jQuery.validator.addMethod("notEqualTo", function (v, e, p) {
                return this.optional(e) || v != p;
            }, "Please specify a different value");

            $('#NextFollowUpDate, #FromDate, #ToDate, #ADM_IATAADMDate').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });

            //Initialize Select2 Elements
            $('.select2').select2();

            $(".numeric").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            bsCustomFileInput.init();

            GetData(10, 1, '');
        });

        function FilterTicketDetail(id) {
            $("#SearchStatusIDF").val(id);

            GetData(10, 1, '');
        }

        function Sorting(SortingID) {
            $("#SortingID").val(SortingID);

            switch (SortingID) {
                case "SrNo":
                    if ($("#SortingSrNo").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingSrNo").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingSrNo").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingSrNo").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingTicketID, #SortingBranch, #SortingLastFollowUpDate, #SortingStatusName, #SortingReason").addClass('fa-arrow-up');
                    break;
                case "TicketID":
                    if ($("#SortingTicketID").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingTicketID").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingTicketID").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingTicketID").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingSrNo, #SortingBranch, #SortingLastFollowUpDate, #SortingStatusName, #SortingReason").addClass('fa-arrow-up');
                    break;
                case "BranchID":
                    if ($("#SortingBranch").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingBranch").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingBranch").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingBranch").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingSrNo, #SortingTicketID, #SortingLastFollowUpDate, #SortingStatusName, #SortingReason").addClass('fa-arrow-up');
                    break;
                case "LastFollowUpDate":
                    if ($("#SortingLastFollowUpDate").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingLastFollowUpDate").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingLastFollowUpDate").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingLastFollowUpDate").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingSrNo, #SortingTicketID, #SortingBranch, #SortingStatusName, #SortingReason").addClass('fa-arrow-up');
                    break;
                case "StatusName":
                    if ($("#SortingStatusName").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingStatusName").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingStatusName").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingStatusName").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingSrNo, #SortingTicketID, #SortingBranch, #SortingLastFollowUpDate, #SortingReason").addClass('fa-arrow-up');
                    break;
                case "ReasonName":
                    if ($("#SortingReason").hasClass('fa-arrow-up') == true) {
                        $("#SortingOrderBy").val('ASC');
                        $("#SortingReason").removeClass('fa-arrow-up').addClass('fa-arrow-down');
                    }
                    else if ($("#SortingReason").hasClass('fa-arrow-down') == true) {
                        $("#SortingOrderBy").val('DESC');
                        $("#SortingReason").removeClass('fa-arrow-down').addClass('fa-arrow-up');
                    }

                    $("#SortingSrNo, #SortingTicketID, #SortingBranch, #SortingLastFollowUpDate, #SortingStatusName").addClass('fa-arrow-up');
                    break;
            }

            GetData(10, 1, '');
        }

        function GetData(RowPerPage, PageNo, NavigationType) {
            var navValue = parseInt($("#NavigationValue").val());
            var totalPage = parseInt($("#TotalPages").text());

            if (NavigationType === 'L') {
                if (navValue > 1) {
                    PageNo = navValue - 1;
                }

                $("#Left").removeClass("btn-info").addClass("btn-info");
                $("#LeftEnd, #goBtn, #Right, #RightEnd").removeClass("btn-info").addClass("btn-secondary");
            }
            else if (NavigationType === 'LE') {
                PageNo = 1;

                $("#LeftEnd").removeClass("btn-info").addClass("btn-info");
                $("#Left, #goBtn, #Right, #RightEnd").removeClass("btn-info").addClass("btn-secondary");
            }
            else if (NavigationType === 'C') {
                PageNo = navValue;

                $("#goBtn").removeClass("btn-info").addClass("btn-info");
                $("#Left, #LeftEnd, #Right, #RightEnd").removeClass("btn-info").addClass("btn-secondary");
            }
            else if (NavigationType === 'R') {
                if (totalPage > navValue)
                    PageNo = navValue + 1;
                else
                    PageNo = totalPage;

                $("#Right").removeClass("btn-info").addClass("btn-info");
                $("#Left, #LeftEnd, #goBtn, #RightEnd").removeClass("btn-info").addClass("btn-secondary");
            }
            else if (NavigationType === 'RE') {
                PageNo = totalPage;

                $("#RightEnd").removeClass("btn-info").addClass("btn-info");
                $("#Left, #LeftEnd, #goBtn, #Right").removeClass("btn-info").addClass("btn-secondary");
            }

            $("#NavigationValue").val(PageNo);

            var SearchStatus = ($('#SearchStatusIDF').val() == '0' ? $('#SearchStatusIDF2').val() : $('#SearchStatusIDF').val());

            var mData = {
                BranchID: (@GeneralClass.Role == 1 ? ($('#SearchBranch').val() == 'undefined' ? '' : $('#SearchBranch').val().join(", ")) : '@GeneralClass.BranchID'),
                Role: @GeneralClass.Role,
                RowsPerPage: RowPerPage,
                PageNumber: PageNo,
                TicketID: $("#SearchTicketID").val(),
                FromDate: $("#FromDate").val(),
                ToDate: $("#ToDate").val(),
                StatusIDF: SearchStatus,
                OrderByColumnName: $("#SortingID").val(),
                OrderBy: $("#SortingOrderBy").val(),
                ReasonIDF: $("#SearchReason").val()
            }

            $.ajax({
                type: "POST",
                url: "/Home/GetAllTicket",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    $("#FirstRecord").text(mRes.FirstRecord);
                    $("#LastRecord").text(mRes.LastRecord);
                    $("#TotalRecords").text(mRes.TotalRecords);
                    $("#TotalPages").text(mRes.TotalPage);

                    var obj = JSON.parse(mRes.Data);
                    var iHTML = "";

                    if (obj.length === 0) {
                        if (@GeneralClass.Role == '1' || @GeneralClass.Role == '2') {
                            $("#data").html("<tr><td colspan='9' align='center'>No Data</td></tr>");
                        }
                        else {
                            $("#data").html("<tr><td colspan='8' align='center'>No Data</td></tr>");
                        }
                    }
                    else {
                        var URL = window.location.origin;

                        for (var i = 0; i < obj.length; i++) {
                            iHTML += "<tr>";
                            iHTML += "<td>" + obj[i].SrNo + "</td>";
                            iHTML += "<td>" + obj[i].TicketID + "<br/>" + obj[i].ADMRaisedDate + "" + (obj[i].ADMFileName != null && obj[i].ADMFileName != '' ? "<br/><a href='" + URL + "/ADMFiles/" + obj[i].ADMFileName + "' target='_blank'>View File</a>" : "") + "<br/>" + (obj[i].IATAADMDate != '' ? "<br/>IATA ADM Date: " + obj[i].IATAADMDate + "" : "") + "</td>";
                            if (@GeneralClass.Role == '1' || @GeneralClass.Role == '2') {
                                iHTML += "<td>" + obj[i].BranchID + "</td>";
                            }
                            iHTML += "<td>" + obj[i].ReasonName + "</td>";
                            iHTML += "<td>No.: " + obj[i].ADMNumber + "<br/>Amount: " + obj[i].ADMAmount + "<br/>Total Debit Amount: " + obj[i].TotalDebitAmount + "</td>";
                            if (obj[i].ACMNumber == '' && obj[i].ACMAmount == 0) {
                                iHTML += "<td><h3 class='text-center'>-</h3></td>";
                            }
                            else {
                                iHTML += "<td>No.: " + obj[i].ACMNumber + "<br/>Amount: " + obj[i].ACMAmount + "</td>";
                            }
                            iHTML += "<td>Date: " + obj[i].LastFollowUpDate + "<br/>By: " + obj[i].LastFollowUpBy + "<br/>Total Follow Ups: " + obj[i].TotalFollowUp + "</td>";
                            iHTML += "<td class='project-state'><strong>" + obj[i].StatusName + "</strong></td>";
                            /*if (obj[i].StatusName == 'New') {
                                iHTML += "<td class='project-state'><span class='badge bg-success'>" + obj[i].StatusName + "</span></td>";
                            }
                            else if (obj[i].StatusName == 'Pending') {
                                iHTML += "<td class='project-state'><span class='badge bg-primary'>" + obj[i].StatusName + "</span></td>";
                            }
                            else if (obj[i].StatusName == 'Dispute') {
                                iHTML += "<td class='project-state'><span class='badge bg-danger'>" + obj[i].StatusName + "</span></td>";
                            }
                            else {
                                iHTML += "<td class='project-state'><span class='badge bg-warning'>" + obj[i].StatusName + "</span></td>";
                            }*/

                            iHTML += "<td class='project-actions text-right'>";
                            iHTML += "<a style='display:block;margin-bottom:5px;' class='btn btn-primary btn-sm' href='/ADMFollowUp/Index/" + obj[i].ADMIDP + "' target='_blank'><i class='fas fa-eye'></i>&nbsp;View All F-ups</a>";
                            if (@GeneralClass.Role != '1') {
                                // Audit user, branch user and manager
                                iHTML += "<a style='display:block;margin-bottom:5px;' class='btn btn-info btn-sm' href='javascript:void(0)' onclick='AddNewFollowUp(" + obj[i].ADMIDP + ")'><i class='fa fa-plus'></i>&nbsp;Add Follow Up</a>";
                            }
                            else if (@GeneralClass.Role == '2') {
                                if (obj[i].StatusName == 'Dispute' || obj[i].StatusName == 'ACM Received')
                                    iHTML += "<a style='display:block;margin-bottom:5px;' class='btn btn-info btn-sm' href='javascript:void(0)' onclick='AddNewFollowUp(" + obj[i].ADMIDP + ")'><i class='fa fa-plus'></i>&nbsp;Add Follow Up</a>";
                            }
                            if (obj[i].StatusName == 'ACM Received') {
                                iHTML += "<a style='display:block;' class='btn btn-warning btn-sm' href='javascript:void(0)' onclick='AddNewACMReceived(" + obj[i].ADMIDP + ", &quot;" + obj[i].ACMNumber + "&quot;," + obj[i].ACMAmount + "," + obj[i].ADMAmount + ")'><i class='fas fa-hand-holding-usd'></i>&nbsp;ACM Received</a>";
                            }
                            iHTML += "</td>";
                            iHTML += "</tr>";
                        }

                        $("#data").html(iHTML);
                    }

                    GetDashboardCount();
                }
            });
        }

        function AddNewFollowUp(id) {
            /*HIDE DETAIL OF DEBIT TO*/
            $("#DebitToRiya").hide();
            $("#DebitToSubAgent").hide();
            $("#divFUACM").hide();

            $("#divDebitToRiya").hide();
            $("#DebitTo").val("");

            $("#DebitToType").val('1');
            $('#DebitToType').trigger('change');

            $("#Default").modal('show');

            var mData = { id: id }

            $.ajax({
                type: "POST",
                url: "/ADMHeader/Get_GetAll",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    var obj = JSON.parse(mRes);

                    $("#ADMIDF").val(obj[0].ADMIDP);
                    $("#TicketID").val(obj[0].TicketID);
                    $("#ADMNumber").val(obj[0].ADMNumber);
                    $("#OfficeID").val(obj[0].OfficeID);
                    $("#BranchID").val(obj[0].BranchID);
                    $("#ReasonName").val(obj[0].ReasonName);
                    $("#RemarksAddByAudit").val(obj[0].Remarks);

                    $("#StatusIDF").val(obj[0].StatusIDF);
                    $('#StatusIDF').trigger('change');

                    $("#FU_ADMAmount").val(obj[0].ADMAmount);
                    $("#FU_ACMNo").val(obj[0].ACMNumber);
                    $("#FU_ACMAmount").val(obj[0].ACMAmount);

                    CalculateACMAmountFromFollowUp();
                }
            });

            $('#Default').on('shown.bs.modal', function () {
                $('#Remarks').focus();
            });
        }

        function SaveFollowUp() {
            $("#ApplicationForm").validate({
                rules: {
                    TicketID: "required",
                    StatusIDF: {
                        required: true,
                        notEqualTo: "0"
                    },
                    Remarks: "required",
                },
                messages: {
                    TicketID: "Please enter Ticket no.",
                    StatusIDF: {
                        required: "Please select Status.",
                        notEqualTo: "Please select Status."
                    },
                    Remarks: "Please enter Remarks.",
                },
                submitHandler: function (form) {
                    var StatusIDF = $("#StatusIDF").val();

                    if (StatusIDF == 5 || StatusIDF == 10) {
                        if ($("#DebitToSubAgent").val().length <= 0) {
                            toastr.success('Please enter agent name.');
                            return;
                        }
                    }
                    else if (StatusIDF == 4 || StatusIDF == 9) {
                        var DebitToType = $("#DebitToType").val();

                        if (DebitToType == 1 && $("#DebitTo").val().length <= 0) {
                            toastr.success('Please enter Staff name.');
                            return;
                        }
                    }
                    else if (StatusIDF == 7) {
                        if ($("#FU_ACMNo").val().length <= 0) {
                            toastr.success('Please enter ACM No.');
                            return;
                        }
                        else if ($("#FU_ACMAmount").val().length <= 0) {
                            toastr.success('Please enter ACM Amount.');
                            return;
                        }
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Home/Save",
                        data: $("#ApplicationForm").serialize(),
                        success: function (mRes) {
                            toastr.success(mRes);

                            ClearControls();

                            $("#Default").modal('hide');

                            GetData(10, 1, '');
                        },
                        error: function (err) {
                            Swal.fire('Error', err, 'error');
                        }
                    });
                    return false;
                }
            });
        }

        function ClearControls() {
            $("#ADMIDF, #ADMFollowUpIDP").val(0);
            $("#OfficeID, #BranchID, #TicketID, #Remarks, #NextFollowUpDate").val('');

            $("#StatusIDF").val(0);
            $('#StatusIDF').trigger('change');
        }

        function AddNewACMReceived(id, ACMNo, ACMAmount, ADMAmount) {
            $("#ACM_ADMIDF").val(id);
            $("#ACMNumber").val(ACMNo);
            $("#ACMAmount").val(ACMAmount);
            $("#ACM_ADMAmount").val(ADMAmount);

            var AmountDiff = parseFloat(ADMAmount) - parseFloat(ACMAmount);

            if (AmountDiff == 0) {
                $("#ACM_StatusIDF").attr("disabled", "disabled");
            }
            else {
                $("#ACM_StatusIDF").removeAttr("disabled");
            }

            $("#ACMAmount_Diff").val(AmountDiff);

            $("#ACMReceivedDefault").modal('show');

            $('#ACMReceivedDefault').on('shown.bs.modal', function () {
                $('#ACMNumber').focus();
            });
        }

        function CalculateACMAmount() {
            var ACMAmount = ($("#ACMAmount").val().length <= 0 ? 0 : $("#ACMAmount").val());
            var ADMAmount = ($("#ACM_ADMAmount").val().length <= 0 ? 0 : $("#ACM_ADMAmount").val());

            var AmountDiff = parseFloat(ADMAmount) - parseFloat(ACMAmount);

            if (AmountDiff == 0) {
                $("#ACM_StatusIDF").attr("disabled", "disabled");
            }
            else {
                $("#ACM_StatusIDF").removeAttr("disabled");
            }

            $("#ACMAmount_Diff").val(AmountDiff);
        }

        function CalculateACMAmountFromFollowUp() {
            var ACMAmount = ($("#FU_ADMAmount").val().length <= 0 ? 0 : $("#FU_ADMAmount").val());
            var ADMAmount = ($("#FU_ACMAmount").val().length <= 0 ? 0 : $("#FU_ACMAmount").val());

            var AmountDiff = parseFloat(ADMAmount) - parseFloat(ACMAmount);

            if (AmountDiff == 0) {
                $("#StatusIDF").attr("disabled", "disabled");
            }
            else {
                $("#StatusIDF").removeAttr("disabled");
            }

            $("#FU_ACMAmountDiff").val(AmountDiff);
        }

        function UpdateACMDetail() {
            var mData = {
                ADMIDP: $("#ACM_ADMIDF").val()
                , ACMNumber: $("#ACMNumber").val()
                , ACMAmount: $("#ACMAmount").val()
                , StatusIDF: ($("#ACMAmount_Diff").val() == '0' ? '7' : $("#ACM_StatusIDF").val())
            }

            $.ajax({
                type: "POST",
                url: "/Home/UpdateACMDetail",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    toastr.success(mRes);

                    ClearACMControls();

                    $("#ACMReceivedDefault").modal('hide');

                    GetData(10, 1, '');
                },
                error: function (err) {
                    Swal.fire('Error', err, 'error');
                }
            });
        }

        function ClearACMControls() {
            $("#ACM_ADMIDF").val(0);

            $("#ACMNumber, #ACMAmount").val('');
        }

        function GetDashboardCount() {
            var mData = {
                BranchID: '@GeneralClass.BranchID'
            }

            $.ajax({
                type: "POST",
                url: "/Home/GetDashboardCount",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    var obj = JSON.parse(mRes);

                    var iHTML = "";

                    for (var i = 0; i < obj.length; i++) {
                        iHTML += "<div class='col-lg-2 col-2 text-center'><a href='#FocusID' onclick='FilterTicketDetail(" + obj[i].StatusIDF + ")'>";
                        iHTML += "<div class='small-box bg-info'>";
                        iHTML += "<div class='inner'>";
                        iHTML += "<h3>" + obj[i].Request + "</h3>";
                        iHTML += "<p class='text-sm'>" + obj[i].StatusName +"</p>";
                        iHTML += "</div>";
                        //iHTML += "<a href='#FocusID' onclick='FilterTicketDetail(" + obj[i].StatusIDF + ")' class='small-box-footer'>More <i class='fas fa-arrow-circle-right'></i></a>";
                        iHTML += "</div>";
                        iHTML += "</a></div>";
                    }

                    $("#DashboardStatusCount").html(iHTML);
                },
                error: function (err) {
                    Swal.fire('Error', err, 'error');
                }
            });
        }

        /*ADD NEW ADM*/
        function AddNewADM() {
            ClearControlsADM();

            $("#ADMDefault").modal('show');

            $('#ADMDefault').on('shown.bs.modal', function () {
                $('#ADM_TicketID').focus();
            });
        }

        function ClearControlsADM() {
            $("#ADMIDP").val(0);
            $("#ADM_TicketID, #ADM_IATANumber, #ADM_ADMNumber, #ADM_OfficeID, #ADM_BranchID, #ADM_TicketIssueBranchID, #ADM_TicketAmount, #ADM_Remarks, #ADM_ADMAmount, #ADM_IATAADMDate").val('');

            $("#ADM_ReasonIDF").val(0);
            $('#ADM_ReasonIDF').trigger('change');

            $("#OfficeIDTextDanger, #TicketAmountTextDanger").hide();
            $("#OfficeID").attr('disabled', 'disabled');
            $("#TicketAmount").attr('disabled', 'disabled');
        }

        function FetchTicketDetail() {
            if ($("#ADM_TicketID").val().length <= 0 && $("#ADM_IATANumber").val().length <= 0) {
                toastr.error('Please enter Ticket No or IATA No');
                return false;
            }

            $("#ADM_DetailButton").html('<i class="fas fa-1x fa-sync-alt fa-spin"></i>');

            var mData = {
                TicketID: $("#ADM_TicketID").val()
                , IATANumber: $("#ADM_IATANumber").val()
            }

            $.ajax({
                type: "POST",
                url: "/ADMHeader/GetTicketDetail",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    var obj = JSON.parse(mRes);
                    if (obj.length > 0) {
                        $("#ADM_IATANumber").val(obj[0].IATANumber);
                        $("#ADM_OfficeID").val(obj[0].OfficeID);
                        $("#ADM_BranchID").val(obj[0].BranchID);
                        $("#ADM_TicketIssueBranchID").val(obj[0].TicketIssueBranchID);
                        $("#ADM_TicketAmount").val(obj[0].TicketAmount);
                    }
                    else {
                        toastr.error('No ticket detail found. Please try again.');

                        ClearControlsADM();

                        $("#OfficeIDTextDanger, #TicketAmountTextDanger").show();
                        $("#ADM_OfficeID").removeAttr('disabled');
                        $("#ADM_TicketAmount").removeAttr('disabled');
                    }
                    $("#ADM_DetailButton").html('<i class="fas fa-search"></i>');
                }
            });
        }

        function ADM_Save() {
            $("#ADM_ApplicationForm").validate({
                rules: {
                    ADM_TicketID: {
                        require_from_group: [1, '.mygroup']
                    },
                    ADM_IATANumber: {
                        require_from_group: [1, '.mygroup']
                    },
                    ADM_ADMNumber: "required",
                    ADM_ADMAmount: "required",
                    ADM_OfficeID: "required",
                    ADM_BranchID: "required",
                    ADM_TicketIssueBranchID: "required",
                    ADM_TicketAmount: "required",
                    ADM_Remarks: "required",
                    ADM_ReasonIDF: {
                        required: true,
                        notEqualTo: "0"
                    },
                    ADM_IATAADMDate: "required"
                    //StatusIDF: {
                    //    required: true,
                    //    notEqualTo: "0"
                    //}
                },
                groups: {
                    mygroup: "ADM_TicketID ADM_IATANumber"
                },
                messages: {
                    ADM_TicketID: "Please enter Ticket No or IATA No.",
                    ADM_IATANumber: "Please enter Ticket No or IATA No.",
                    ADM_ADMNumber: "Please enter ADM No.",
                    ADM_ADMAmount: "Please enter ADM Amount.",
                    ADM_OfficeID: "Please enter Office id.",
                    ADM_BranchID: "Please enter Branch id.",
                    ADM_TicketIssueBranchID: "Please enter Ticket issue branch id.",
                    ADM_TicketAmount: "Please enter Ticket Amount.",
                    ADM_Remarks: "Please enter Remarks.",
                    ADM_ReasonIDF: {
                        required: "Please select Reason.",
                        notEqualTo: "Please select Reason."
                    },
                    ADM_IATAADMDate: "Please select IATA ADM date."
                    //StatusIDF: {
                    //    required: "Status require.",
                    //    notEqualTo: "Status require."
                    //}
                },
                submitHandler: function (form) {
                    if ($("#ADM_OfficeID").val().length <= 0) {
                        toastr.error('Please enter Office id.');
                        return;
                    }
                    else if ($("#ADM_TicketAmount").val().length <= 0) {
                        toastr.error('Please enter Ticket Amount.');
                        return;
                    }

                    if (window.FormData !== undefined) {
                        var fileUpload = $("#ADMFile").get(0);
                        var files = fileUpload.files;

                        // Create FormData object
                        var fileData = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        fileData.append('ADMIDP', $("#ADMIDP").val());
                        fileData.append('IATANumber', $("#ADM_IATANumber").val());
                        fileData.append('OldFileName', $("#OldFileName").val());
                        fileData.append('ADMNumber', $("#ADM_ADMNumber").val());
                        fileData.append('ADMAmount', $("#ADM_ADMAmount").val());
                        fileData.append('TicketID', $("#ADM_TicketID").val());
                        fileData.append('OfficeID', $("#ADM_OfficeID").val());
                        fileData.append('BranchID', $("#ADM_BranchID").val());
                        fileData.append('TicketIssueBranchID', $("#ADM_TicketIssueBranchID").val());
                        fileData.append('TicketAmount', $("#ADM_TicketAmount").val());
                        fileData.append('ReasonIDF', $("#ADM_ReasonIDF").val());
                        fileData.append('Remarks', $("#ADM_Remarks").val());
                        fileData.append('IATAADMDate', $("#ADM_IATAADMDate").val());

                        $.ajax({
                            url: '/ADMHeader/Save',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (mRes) {
                                if (mRes == 'Ticket already added in ADM.' || mRes == 'ADM already raised.') {
                                    toastr.error(mRes);
                                }
                                else {
                                    toastr.success(mRes);

                                    ClearControls();

                                    $("#ADMDefault").modal('hide');

                                    GetData(10, 1, '');
                                }
                            },
                            error: function (err) {
                                toastr.success(err.statusText);
                            }
                        });
                    }
                    else {
                        toastr.success('FormData is not supported.');
                    }
                    return false;
                }
            });
        }

        function DisplayDebitOption() {
            var StatusIDF = $("#StatusIDF").val();

            if (StatusIDF == 5 || StatusIDF == 10) // Agent
            {
                $("#DebitToRiya").hide();
                $("#DebitToSubAgent").show();
                $("#divFUACM").hide();
            }
            else if (StatusIDF == 4 || StatusIDF == 9) // Riya
            {
                $("#DebitToRiya").show();
                $("#DebitToSubAgent").hide();
                $("#divFUACM").hide();
            }
            else if (StatusIDF == 7) // ACM Received
            {
                $("#DebitToRiya").hide();
                $("#DebitToSubAgent").hide();
                $("#divFUACM").show();
            }
        }

        function DisplayDebitToOption() {
            var DebitToType = $("#DebitToType").val();

            if (DebitToType == 1) { // Staff
                $("#DebitTo").val("");
                $("#divDebitToRiya").show();
            }
            else if (DebitToType == 2) { // Riya
                $("#DebitTo").val("Company Account");
                $("#divDebitToRiya").hide();
            }
        }
    </script>
}